* {
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Raleaway', sans-serif;
}

.card {
    width: 80%;
    max-width: 500px;
    margin: 0 auto;
    margin-top: 80px;
    background-color: slateblue;
    color: #fff;
    padding: 40px 20px;
}

img {
    width: 200px;    
    display: block;
    margin: 0 auto;
}

.title {
    /* letter-spacing: 5px; */
    /* word-spacing: 40px; */
    /* width: 150px; */
    /* border: 2px solid #fff; */
    overflow-wrap: break-word;   
    text-align: center; 
    font-size: 50px;
}


.paragraph {
    text-transform: uppercase;
    font-style: italic;
    /* font-size: 30px; */
    line-height: 1.5;
}

.paragraph--first {
    text-transform: lowercase;
    margin-top: 10px;
    margin-bottom: 20px;
    /* border: 1px solid crimson; */
    font-weight: 900;
    font-style: italic;
}

