* {
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

.element {
   margin: 80px auto;
   width: 50%;
   height: 200px;
   background-color: royalblue;
}

/*Siempre usar 2 media queries por separado para min-width y ubicarlas de menor a mayor*/
@media (min-width: 300px ) {
    
    body {
        background-color: springgreen;
    }
    
    .element {
        background-color: slateblue;
        
    }
    
}
@media (min-width: 600px ) {
    
    body {
        background-color: #000;
    }
    
    .element {
        background-color: crimson;
        
    }
    
}


/*Siempre usar 2 media queries por separado para max-width y ubicarlas de mayor a menor*/
/* @media (max-width: 600px) {
    
    body {
        background-color: #000;
    }

    .element {
        background-color: crimson;

    }
}

@media (max-width: 300px) {
    
    body {
        background-color: steelblue;
    }

    .element {
        background-color: hotpink;

    }
} */